<div class='login-box'>
    <div class='border padding-15 w-50'>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab"
                   aria-controls="login" aria-selected="true">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="add-tab" data-toggle="tab" href="#add" role="tab" aria-controls="add"
                   aria-selected="false">Add new user</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                <form id='auth'>
                    <div class='form-group'>
                        <label for='login'>Login</label>
                        <input type='text' class='form-control' id='authLogin' name='login' placeholder='Enter login'>
                    </div>
                    <div class='form-group'>
                        <label for='password'>Password</label>
                        <input type='password' class='form-control' id='password' name='password'
                               placeholder='Password'>
                    </div>
                    <button type='submit' class='btn btn-primary' id='submit' disabled>Submit</button>
                </form>
            </div>
            <div class="tab-pane fade" id="add" role="tabpanel" aria-labelledby="add-tab">
                <form id='addForm'>
                    <div class='form-group'>
                        <label for='addLogin'>Login</label>
                        <input type='text' class='form-control' id='addLogin' name='addLogin' placeholder='Enter login'>
                    </div>
                    <div class='form-group'>
                        <label for='addPassword'>Password</label>
                        <input type='password' class='form-control' id='addPassword' name='addPassword'
                               placeholder='Password'>
                    </div>
                    <div class='form-group'>
                        <label for='passwordRepeat'>Password repeat</label>
                        <input type='password' class='form-control' id='passwordRepeat' name='passwordRepeat'
                               placeholder='Password'>
                    </div>
                    <button type='submit' class='btn btn-primary' id='addButton' disabled>Add</button>
                </form>
            </div>
        </div>
        <div id='result'></div>
    </div>
</div>